service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /{document=**} {
      allow read, write: if false;
    }

    match /users/{userId} {
      function isSelf() {
        return request.auth.uid == userId;
      }

      allow get: if isSelf()
      allow create: if isSelf() && !('isAdmin' in request.writeFields)
      allow update: if isSelf() && !('isAdmin' in request.writeFields)
    }

    match /games/{gameId} {
      allow read: if isSignedIn()
      allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true
    }

    match /events/{event} {
      allow read: if isSignedIn()
      allow update: if isSignedIn()
        && resource.data.timestamp > request.time
        && request.writeFields.size() == 1
        && (('attendees.' + request.auth.uid) in request.writeFields)
        && (((request.resource.data.attendees[(request.auth.uid)].name == (request.auth.token.name)
          && resource.data.attendees.size() < resource.data.game.data.maxPlayers)
          && !('score' in request.resource.data.attendees[(request.auth.uid)]))
          || !(request.auth.uid in request.resource.data.attendees))
    }
  }
}