service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return request.auth.token.admin == true;
    }

    match /{document=**} {
      allow read, write: if false;
    }

    match /users/{userId} {
      function isSelf() {
        return request.auth.uid == userId;
      }

      allow get, create, update: if isSelf()
    }

    match /games/{gameId} {
      allow read: if isSignedIn()
      allow write: if isSignedIn() && isAdmin()
    }

    match /events/{eventId} {
      allow read: if isSignedIn()
      allow write: if isSignedIn() && isAdmin()
      allow update: if isSignedIn()
        && (resource.data.timestamp > request.time
            && request.writeFields.size() == 1
            && (('attendees.' + request.auth.uid) in request.writeFields)
            && (((request.resource.data.attendees[(request.auth.uid)] == (request.auth.token.name)
              && resource.data.attendees.size() < resource.data.game.data.maxPlayers))
              || !(request.auth.uid in request.resource.data.attendees))
            )
    }
  }
}