service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return request.auth.token.admin == true;
    }

    match /{allPaths=**} {
      allow read: if isSignedIn()
      allow write: if isSignedIn() && isAdmin()
    }
  }
}
