body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body,
#root {
  height: 100%;
}

form {
  margin: 0 !important;
}

.appbar {
  background-color: #212121;
  color: white;
  height: 56px;
}

.appbar h1 {
  font-size: 2rem;
}

.appbar button {
  color: white;
  border-color: white;
}

.appbar button:hover {
  background-color: white;
  color: #212121;
}
